/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width: 767px) {
         
}

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 320px) {
    /*Slider Text animation*/ 
        .item{
            padding: 100px 0;
            color: #fff;
        }

        .item h3{
            font-size:23px;
          font-weight: 400;
          font-family: 'Lobster', cursive;
        }
        .item h2{
            font-size:50px;
            border: 3px solid #2196F3;
            max-width:420px;
            margin: 0 auto;
            padding: 5px;
          font-family: 'Lobster', cursive;
          text-shadow: 4px 4px 4px #000;
        }
        .item h4{
            font-size:16px;
          font-weight: 400;
          font-family: 'Lobster', cursive;
        }

    /*Slider Text animation End*/ 

    /*Animated Button*/
        .btn-cont {
        text-align: center;
        margin-top: 20px;
        }
        .btn-cont .btn {
        position: relative;
        padding: 10px 20px;
        color: #313454;
        text-decoration: none;
        font-family: 'Russo One', sans-serif;
        font-size: 26px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 4px 4px 4px #ccc;
        -webkit-font-smoothing: antialiased;
        }

    /*About section Start*/
        .about_header h3{
        margin: 30px 0;
        font-size: 20px;
        font-family: 'Lobster', cursive;
        }

        .about_des{
        margin-top: 20px;
        }
        .right_about>.rigt_des{
        padding: 0 30px;
        }
        .right_about>.rigt_des h2{
        color: #313454;
        font-size: 26px;
        }
        .right_about>.rigt_des h3{
        color: gray;
        font-size: 20px;
        margin: 5px 0;
        }
        .right_about>.rigt_des p{
        font-size: 14px;
        color: #313454;
        text-align: justify;
        }
    /*About section End*/

    /* Message Area */
        .message_area{
        box-sizing: border-box;
        }
        .name_email{
        width: 90%;
        margin: 0 4%;
        box-sizing: border-box;
        }
        .name_email input{width: 100%; height: 30px; padding-left: 10px;margin-bottom: 5px; position: inline-block ;}
        .name_email textarea{width: 100%; margin-top: 10px;}

        .form-control2{
        position: inline-block !important; 
        border: 1px solid #000;
        }
        .form-control2:focus{
        outline: none;
        box-shadow: none;
        border-color: #22B4FF;
        background: #F2F2F2;
        }
    /* Message Area End*/

    /*footer copy text*/
        .copy_content p{
        font-size: 12px;
        }
    /****************************************
        IMPORTANT
    *****************************************/
        .scrollTop {
        position: fixed;
        right: .5%;
        bottom: 50px;
        background-color: #03A9F4;
        padding: 3px;
        opacity: 0;
        transition: all 0.4s ease-in-out 0s;
        }
        .scrollTop a {
        font-size: 12px;
        color: #fff;
        }
        .scrollTop:hover{
        transform: translateY(-15px);
        }
    /*==================================
    ===================================*/
     
    }/*End 320px device*/

/*=======================================================================================*/

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    /*Slider Text animation*/ 
        .item{
            padding: 150px 0;
            color: #fff;
        }

        .item h3{
            font-size:40px;
          font-weight: 400;
          font-family: 'Lobster', cursive;
        }
        .item h2{
            font-size:90px;
            border: 3px solid #2196F3;
            max-width:580px;
            margin: 0 auto;
            padding: 10px;
          font-family: 'Lobster', cursive;
          text-shadow: 4px 4px 4px #000;
        }
        .item h4{
            font-size:32px;
          font-weight: 400;
          font-family: 'Lobster', cursive;
        }
 
    /*Slider Text animation End*/ 
    /*Animated Button*/
        .btn-cont {
        text-align: center;
        margin-top: 30px;
        }
        .btn-cont .btn {
        position: relative;
        padding: 20px 70px;
        color: #313454;
        text-decoration: none;
        font-family: 'Russo One', sans-serif;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 4px 4px 4px #ccc;
        -webkit-font-smoothing: antialiased;
        }

    /*About section Start*/ 
        .about_header h3{
        margin: 30px 0;
        font-size: 25px;
        font-family: 'Lobster', cursive;
        }
        .about_des{
        margin-top: 20px;
        }
        .right_about>.rigt_des{
        padding: 0 30px;
        }
        .right_about>.rigt_des h2{
        color: #313454;
        font-size: 26px;
        }
        .right_about>.rigt_des h3{
        color: gray;
        font-size: 20px;
        margin: 5px 0;
        }
        .right_about>.rigt_des p{
        font-size: 13px;
        color: #313454;
        text-align: justify;
        }
    /*About section End*/
            /*+++++++++++++++++++++++++++++++++++++*/
    /* Message Area */
        .message_area{
        box-sizing: border-box;
        }
        .name_email{
        width: 90%;
        margin: 0 35px;
        box-sizing: border-box;
        }
        .name_email input{width: 35%; height: 30px; margin-right: 5px; position: inline-block ;}
        .name_email textarea{width: 71%; margin-top: 15px;}

        .form-control2{
        position: inline-block !important ;
        border: 1px solid #000;
        }
        .form-control2:focus{
        outline: none;
        box-shadow: none;
        border-color: #22B4FF;
        background: #F2F2F2;
        }
    /* Message Area End*/

     /*footer copy text*/
        .copy_content p{
        font-size: 18px;
        }
    /*Footer End*/
    /****************************************
        IMPORTANT
    *****************************************/
        .scrollTop {
        position: fixed;
        right: 2%;
        bottom: 20px;
        background-color: #03A9F4;
        padding: 12px;
        opacity: 0;
        transition: all 0.4s ease-in-out 0s;
        }
        .scrollTop a {
        font-size: 22px;
        color: #fff;
        }
    /*==================================
    ===================================*/
}/*end 768 devices*/


/*===================================================================================*/
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    /*Slider Text animation*/ 
        .item{
            padding: 150px 0;
            color: #fff;
        }

        .item h3{
            font-size:40px;
          font-weight: 400;
          font-family: 'Lobster', cursive;
        }
        .item h2{
            font-size:90px;
            border: 3px solid #2196F3;
            max-width:580px;
            margin: 0 auto;
            padding: 10px;
          font-family: 'Lobster', cursive;
          text-shadow: 4px 4px 4px #000;
        }
        .item h4{
            font-size:32px;
          font-weight: 400;
          font-family: 'Lobster', cursive;
        }
 
    /*Slider Text animation End*/ 

    /*Reset code End*/
          
    /*About section Start*/
        .about_des{
            margin-top: 50px;
            }  
        .right_about>.rigt_des{
        padding: 0 30px;
        }
        .right_about>.rigt_des h2{
        color: #313454;
        font-size: 35px;
        margin-top: 5px;
        }
        .right_about>.rigt_des h3{
        color: gray;
        font-size: 25px;
        }
        .right_about>.rigt_des p{
        font-size: 16px;
        color: #313454;
        text-align: justify;
        }
    /*About section End*/
    /****************************************
        IMPORTANT
    *****************************************/
        .scrollTop {
        position: fixed;
        right: 2%;
        bottom: 20px;
        background-color: #03A9F4;
        padding: 12px;
        opacity: 0;
        transition: all 0.4s ease-in-out 0s;
        }
        .scrollTop a {
        font-size: 22px;
        color: #fff;
        }
        .scrollTop:hover{
        transform: translateY(-15px);
        }
    /*==================================
    ===================================*/

}/*End 992px devices*/


/*=======================================================================================*/

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    /*Slider Text animation*/ 
        .item{
            padding: 150px 0;
            color: #fff;
        }

        .item h3{
            font-size:40px;
          font-weight: 400;
          font-family: 'Lobster', cursive;
        }
        .item h2{
            font-size:90px;
            border: 3px solid #2196F3;
            max-width:580px;
            margin: 0 auto;
            padding: 10px;
          font-family: 'Lobster', cursive;
          text-shadow: 4px 4px 4px #000;
        }
        .item h4{
            font-size:32px;
          font-weight: 400;
          font-family: 'Lobster', cursive;
        }
 
    /*Slider Text animation End*/ 

    /*About section Start*/
        .about_des{
            margin-top: 50px;
            }  
        .right_about>.rigt_des{
        padding: 0 30px;
        }
        .right_about>.rigt_des h2{
        color: #313454;
        font-size: 35px;
        margin-top: 5px;
        }
        .right_about>.rigt_des h3{
        color: gray;
        font-size: 25px;
        }
        .right_about>.rigt_des p{
        font-size: 18px;
        color: #313454;
        text-align: justify;
        }
    /*About section End*/

    /****************************************
        IMPORTANT
    *****************************************/
        .scrollTop {
        position: fixed;
        right: 2%;
        bottom: 20px;
        background-color: #03A9F4;
        padding: 12px;
        opacity: 0;
        transition: all 0.4s ease-in-out 0s;
        }
        .scrollTop a {
        font-size: 22px;
        color: #fff;
        }
        .scrollTop:hover{
        transform: translateY(-15px);
        }
    /*==================================
    ===================================*/

    }
/*======================================================================================*/

 





 